@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Passion+One:wght@400;700;900&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


:root{
    --fundo-topo: rgba(17, 0, 253, 0.884);
    --fundo-principal: #f7f5ef;
    --texto-principal: black;
    --texto-alternativo: white;
    --texto-span: rgb(168, 167, 235);
    --texto-inverso: rgb(63, 63, 63);

}


body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    
}

header{
    background-color: var(--fundo-topo);
    background-image: url("../imagens/gui-p.png");
    background-repeat: no-repeat;
    background-position: top right;
    height: 500px;
}

header > div#topo-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; 
    align-items: center;
    color: var(--texto-alternativo);
  
}


img{
    width: 135px;
}

header div#menu{
    position: absolute;
    top: 0px;
    right: 0px;
    align-self: flex-end;
    

    
}

header div#navegacao {
    display:none;
    background-color: var(--fundo-principal);
    font-size: 1.1em;
    width: 50vw;
    height: 100vh;
    color: var(--texto-principal);
    padding: 10px;
    background-color: var(--fundo-principal);
   
    
}



header div#openmenu{
    cursor: pointer;
    text-align: right;
    font-size: 1.5em;
    padding: 20px;
    
    
}

header div#closemenu{
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    color: rgb(1, 3, 97);
    font-weight: bold;
}

header ul{
    list-style-type: none;
    text-align: right;
    
   
          
}

header ul > li{
    padding: 5px;
    
}


header div#navegacao li a{    
    display: inline-block;
    text-decoration: none;
    color: var(--fundo-topo);
    font-weight:460;
  

}





header div#info > h1{
    padding: 20px;
    padding-top: 70px;
    font-size: 2em;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.418);
    color: var(--texto-alternativo);
}
 header span{
    color: var(--texto-span)

 }

 header > div#info p{
    padding: 0.5px 20px;
    color: var(--texto-alternativo);
    font-size: 1.1em;
 }





main{

    background-color: var(--texto-alternativo);

    

}

section{
    padding: 10px;
    line-height: 2em;

}

section#cursos{
    text-align: center;
    padding-top: 40px;
}

section > h1#trans{
    padding-left: 10px;
    color: var(--texto-principal);
}

section p{
    padding: 10px;
}

section h1 span{
    color: var(--fundo-topo);
}





aside{
    background-color: var(--texto-span);
    height: 150px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 10px;
}

aside h1{
    padding-bottom: 15px;
}

footer{
    background-color: rgba(194, 194, 194, 0.705);  
    height: 100%; 
    color: rgb(48, 48, 48);
    text-align: center;
    font-size: 1em;
    
}

footer h1{
    padding-bottom: 10px;
    font-size: 1.3em;
}
footer p{
    padding-bottom: 10px;
    padding-top: 10px;
}

footer  div#redes a{
    color: var(--texto-inverso);
    text-decoration: none;
    transition: color 0.5s;
    padding: 0px 2px;
 
    
}

footer div#redes{
    font-size: 1.5em;
}

footer div#redes a:hover{
    color: var(--fundo-topo);
}